extends layout
block main-content
    .jumbotron.row
        .col-xs-5.col-sm-3.text-center
            img(src="/assets/3monkeys.png")
            h4 Hear no eval, see no eval, speak no eval.
        .col-sm-8.col-md-offset-1
            h2.text-center About this project
            p
                | This project was built as part of the "End-to-end JavaScript applications"
                | team work&nbsp;
                a(href="telerikacademy.com") Telerik Academy 2014-2015.
                | &nbsp;The authors are the three wise JSMonkeys
                a(href="https://github.com/KonstantinSimeonov") &nbsp;Konstantin Simeonov,
                a(href="https://github.com/IvoPaunov") &nbsp;Ivo Paunov
                |  and
                a(href="https://github.com/Alex-Bubblemaster") &nbsp;Alex Hajigeorgieva.
            p
                |