-function addZero(i) {
- if (i < 10) {
-  i = "0" + i;
-}
-  return i;
-}

-function prettyDate(dateString){
//if it's already a date object and not a string you don't need this line:
-var date = new Date(dateString);
-var d = date.getDate();
-var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
-var m = monthNames[date.getMonth()];
-var y =  date.getFullYear();
-var h = addZero(date.getHours());
-var mm = addZero(date.getMinutes());
-return d+' '+m+' '+y+' - '+h+':'+mm;
-}

