doctype
html(lang="en")
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title JS Monkey - Java Script ES for monkeys
  include css
  include side-bar
  link(rel="icon" href="/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

  body(ng-app="app" ng-cloak)
    #wrapper
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation

            span.icon-bar

            span.icon-bar

            span.icon-bar
          img(src="/assets/js-monkey-cut.png" alt="JS monkey logo" class="navbar-brand")
          a.navbar-brand(href='/') JS Monkey
          // Top Menu Items
        //ul.nav.navbar-right.top-nav(ng-include="'/log-in'")
        include ../account/account-bar

        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screen

        +sidebar(contests)

      #page-wrapper
        .container-fluid

          block main-content

      footer
        p.text-center
          | &copy; JS Monkeys 2015

      include scripts
