extends layout
block main-content
    .jumbotron.text-center
        img(src="/assets/not-found.gif")
    .unauthorized-msg.text-center
        | 404
    .unauthorized-msg.text-center
        |  Monkey has no idea where these bananas are
        | but they are not here
