script(src="/lib/jquery-2.1.4/jquery-2.1.4.min.js")
script(src="lib/bootstrap-3.3.6/js/bootstrap.min.js")
script(src="/lib/raphael-2.1.2/raphael-2.1.2.css")
script(src="/lib/morris.js-0.5.1/morris.min.js")
script(src="/lib/flot/jquery.flot.js")
script(src="/lib/flot/jquery.flot.tooltip.min.js")
script(src="/lib/flot/jquery.flot.resize.js")
script(src="/lib/flot/jquery.flot.pie.js")

block page-scripts