script(src="/lib/jquery/dist/jquery.min.js")
script(src="lib/bootstrap/dist/js/bootstrap.min.js")
script(src="/lib/Flot/jquery.flot.js")
script(src="/lib/flot.tooltip/js/jquery.flot.tooltip.min.js")
script(src="/lib/Flot/jquery.flot.resize.js")
script(src="/lib/Flot/jquery.flot.pie.js")

block page-scripts