extends layout
block main-content
  .row
    .col-lg-12
      .jumbotron
        .alert.alert-danger.text-center
          h1 500
          h2 Monkey job
        .col-lg-6
          img.full-width(src='/assets/server-error.gif')

