
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li><a href="javascript:;" data-toggle="collapse" data-target="#contests"><i class="fa fa-fw fa-certificate"></i> Contests<i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="contests" class="collapse">
        <li><a href="contest 1">contest 1</a></li>
        <li><a href="contest 2">contest 2</a></li>
      </ul>
    </li>
    <li><a href="javascript:;" data-toggle="collapse" data-target="#courses"><i class="fa fa-fw fa-book"></i> Courses<i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="courses" class="collapse">
        <li><a href="course 1">course 1</a></li>
        <li><a href="course 2">course 2</a></li>
      </ul>
    </li>
    <li><a href="/rankings"><i class="fa fa-fw fa-trophy"></i> Rankings</a></li>
    <li><a href="/about"><i class="fa fa-fw fa-beer"></i> About</a></li>
  </ul>
</div>