mixin sidebar(contests)
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav.side-nav

      li
        a(href='javascript:;', data-toggle='collapse', data-target='#contests')
          i.fa.fa-fw.fa-flag-checkered
          |  Contests
          i.fa.fa-fw.fa-caret-down


        ul#contests.collapse
          li
            a(href='/contests') All
          each contest in menuResolver.contests
            li
              a(href='/contests/' + contest.name) #{contest.name}

      li
        a(href='javascript:;', data-toggle='collapse', data-target='#courses')
          i.fa.fa-fw.fa-graduation-cap
          |  Courses
          i.fa.fa-fw.fa-caret-down

        ul#courses.collapse
          each course in ['course 1', 'course 2']
            li
              a(href='course/' + course) #{course}

      li
        a(href='/api/users/rankings')
          i.fa.fa-fw.fa-trophy
          |  Top Ten Users
      li
        a(href='/api/users')
          i.fa.fa-fw.fa-users
          |  Users

      li
        a(href='/submissions/all')
          i.fa.fa-fw.fa-bullseye
          |  Submissions
      li
        a(href='/about')
          i.fa.fa-fw.fa-info-circle
          |  About
