extends ../shared/layout
block main-content
  .col-lg-12
    .row
      h1.page-header #{course.name}

  .col-lg-12
    .row
      iframe.course(src=course.videoUrl, frameborder=0, allowfullscreen)
