doctype
html(lang="en")
head
    meta(charset="UTF-8")
    title JS Monkey
body
    h1 Upload tests
    form(name="uploader", action="/admin/upload", method="post", enctype="multipart/form-data")
        input(type="file", name="file", id="file")
        input(type="submit", value="Upload")