ul.nav.navbar-right.top-nav(ng-controller="LoginCtrl")

  if(!menuResolver.isAuthenticated)
    form.navbar-form
      .form-group
        input.form-control.input-sm(type="text", placeholder="Username", ng-model="user.username")
        input.form-control.input-sm(type="password", placeholder="Password", ng-model="user.password")
      button.btn.btn-default.btn-sm(ng-click="login(user)") Login
      a.btn.btn-success.btn-sm(href="/sign-up") Sign Up
  else
    if(menuResolver.isAdmin)
      li.dropdown
        a.dropdown-toggle(href="", data-toggle="dropdown")
          i.fa.fa-gears
          |   Admin
          span.caret
        ul.dropdown-menu.alert-dropdown
          li
            a(href="/admin/add-contest")
              i.fa.fa-fw.fa-plus
              |  Add new contest

    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        i.fa.fa-user
        |   #{menuResolver.user.username}
        span.caret
      ul.dropdown-menu.alert-dropdown

        li.divider

        li
          a(href="/" ng-click="logout()")
            i.fa.fa-fw.fa-power-off
            |  Sign Out