extends ../shared/layout
block main-content
  .col-lg-12
    .row
      .alert.alert-success.text-center
        h1 Success
        h2 You are registered, now you can login and become JS Monkey!
      .col-lg-6.col-lg-offset-3.text-center
        img.full-width(src='/assets/sign-up.gif')


