extends ../shared/layout
block main-content
  .row
    .col-lg-12.text-center
      .alert.alert-danger.text-center
        h1 "Success"
        h2 Java Script is not for monkeys
        h2 You are now signed-out
      .col-lg-6.col-lg-offset-3.text-center
        img.full-width(src='/assets/sign-out.gif')

