extends ../shared/layout
block main-content

 .container(ng-controller="SubmissionController as vm")
  .col-md-4
    .row
      .col-md-12
        form
          input.btn-lg.btn-info.full-width(type="button" VALUE="Go back" onClick="history.go(-1);return true;")

    .panel.panel-primary
      .panel-heading
        h3 Latest submissions:
      .panel-body
        table.table.table-striped.table-hover
          thead
            tr
              th Submitted at:
              th Points
          tbody
            each sub in submissions
              tr(ng-click='vm.getCode("#{sub.id}")')
                td #{sub.madeOn}
                td #{sub.points}

  .col-md-8
    .panel.panel-default
      .panel-heading Code for submission from: {{vm.CurrentSubmittion.madeOn | date :'MM/dd/yyyy @ HH:mm:ss'}}
      .panel-body {{vm.CurrentSubmittion.code}}

