ul.nav.navbar-right.top-nav(ng-controller="LoginCtrl")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .form-group
      input.form-control.input-sm(type="text", placeholder="Username", ng-model="user.username")
      input.form-control.input-sm(type="password", placeholder="Password", ng-model="user.password")
    button.btn.btn-default.btn-sm(ng-click="login(user)") Login
    a.btn.btn-success.btn-sm(href="/sign-up") Sign Up

  //ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
  li.dropdown(ng-show="identity.isAuthenticated()")
    a.dropdown-toggle(href="", data-toggle="dropdown")
      i.fa.fa-user
      |   {{ identity.currentUser.username }}
      span.caret
    ul.dropdown-menu
      li(ng-show="identity.currentUser.isAdmin()")
        a(href="/admin/users") Users

      li(ng-show="identity.isAuthenticated()")
        a(href="/profile/edit")
          i.fa.fa-fw.fa-user
          |  Edit Profile

      li.divider

      li
        a(href="/" ng-click="logout()")
          i.fa.fa-fw.fa-power-off
          |  Sign Out

  //li.dropdown
            //  a.dropdown-toggle(href='#', data-toggle='dropdown')
            //    i.fa.fa-envelope
            //
            //    b.caret
            //
            //  ul.dropdown-menu.message-dropdown
            //    li.message-preview
            //      a(href='#')
            //        .media
            //          span.pull-left
            //            img.media-object(src='http://placehold.it/50x50', alt='')
            //
            //          .media-body
            //            h5.media-heading
            //              strong John Smith
            //
            //            p.small.text-muted
            //              i.fa.fa-clock-o
            //              |  Yesterday at 4:32 PM
            //
            //            p Lorem ipsum dolor sit amet, consectetur...
            //
            //    li.message-preview
            //      a(href='#')
            //        .media
            //          span.pull-left
            //            img.media-object(src='http://placehold.it/50x50', alt='')
            //
            //          .media-body
            //            h5.media-heading
            //              strong John Smith
            //
            //            p.small.text-muted
            //              i.fa.fa-clock-o
            //              |  Yesterday at 4:32 PM
            //
            //            p Lorem ipsum dolor sit amet, consectetur...
            //
            //    li.message-preview
            //      a(href='#')
            //        .media
            //          span.pull-left
            //            img.media-object(src='http://placehold.it/50x50', alt='')
            //
            //          .media-body
            //            h5.media-heading
            //              strong John Smith
            //
            //            p.small.text-muted
            //              i.fa.fa-clock-o
            //              |  Yesterday at 4:32 PM
            //
            //            p Lorem ipsum dolor sit amet, consectetur...
            //
            //    li.message-footer
            //      a(href='#') Read All New Messages
            //
            //li.dropdown
            //  a.dropdown-toggle(href='#', data-toggle='dropdown')
            //    i.fa.fa-bell
            //
            //    b.caret
            //
            //  ul.dropdown-menu.alert-dropdown
            //    li
            //      a(href='#')
            //        | Alert Name
            //        span.label.label-default Alert Badge
            //
            //    li
            //      a(href='#')
            //        | Alert Name
            //        span.label.label-primary Alert Badge
            //
            //    li
            //      a(href='#')
            //        | Alert Name
            //        span.label.label-success Alert Badge
            //
            //    li
            //      a(href='#')
            //        | Alert Name
            //        span.label.label-info Alert Badge
            //
            //    li
            //      a(href='#')
            //        | Alert Name
            //        span.label.label-warning Alert Badge
            //
            //    li
            //      a(href='#')
            //        | Alert Name
            //        span.label.label-danger Alert Badge
            //
            //    li.divider
            //
            //    li
            //      a(href='#') View All
            //
            //li.dropdown
            //  a.dropdown-toggle(href='#', data-toggle='dropdown')
            //    i.fa.fa-user
            //    |  John Smith
            //    b.caret
            //
            //  ul.dropdown-menu
            //    li
            //      a(href='#')
            //        i.fa.fa-fw.fa-user
            //        |  Profile
            //
            //    li
            //      a(href='#')
            //        i.fa.fa-fw.fa-envelope
            //        |  Inbox
            //
            //    li
            //      a(href='#')
            //        i.fa.fa-fw.fa-gear
            //        |  Settings
            //
            //    li.divider
            //
            //    li
            //      a(href='#')
            //        i.fa.fa-fw.fa-power-off
            //        |  Log Out

