extends ../shared/layout

block main-content
  br
  .row
    .container
      .well
        form.form-horizontal(name='addContestForm', ng-submit='addContestForm.$valid', action='/contests', method="POST")
          fieldset
            legend Create new contest
            .text-center.error(ng-show='addContestForm.inputcontestname.$error.minlength || addContestForm.inputcontestname.$error.maxlength') Contest name must be between 6 and 50 symbols
            .form-group
              label.col-lg-3.control-label(for='inputcontestname') Contest Name
              .col-lg-7
                input#inputcontestname.form-control(type='text', name='name', ng-model='contest.name', ng-minlength='6', ng-maxlength='50', required='required', placeholder='contest name')

            .form-group
              label.col-lg-3.control-label(for='start-date') Starting date
              .col-lg-7
                input#start-date.form-control.full-width(kendo-date-time-picker,type='datetime' ,name='startDate' ,k-format="'yyyy-MM-dd - HH:mm:ss'", k-ng-model="contest.startDate", required='required', placeholder='start date', )

            .form-group
              label.col-lg-3.control-label(for='end-date') End date
              .col-lg-7
                input#end-date.form-control.full-width(kendo-date-time-picker, type='datetime' ,name='endDate', k-format="'yyyy-MM-dd - HH:mm:ss'", k-ng-model='contest.endDate', required='required', placeholder='end date', )

            //.text-center.error(ng-show='addContestForm.contestPassword.$error.minlength') Pasword must be at least 6 symbols long !
            //.form-group
            //  label.col-lg-2.control-label(for='inputPassword') Password
            //  .col-lg-10
            //    input#inputPassword.form-control(type='password', name='contestPassword', ng-model='contest.password', ng-minlength='6', required='required', placeholder='Password')
            //.text-center.error(ng-show='contest.password !== contest.confirmPassword && addContestForm.confirmPassword.$dirty') Confirm password is not the same as password!
            //.form-group
            //  label.col-lg-2.control-label(for='confirmPassword') Confirm Password
            //  .col-lg-10
            //    input#confirmPassword.form-control(type='password', name='confirmPassword', ng-model='contest.confirmPassword', ng-minlength='6', required='required', placeholder='Confirm Password')
            .form-group
              .col-lg-3.col-lg-offset-7
                button.btn.btn-primary.full-width(type="submit", ng-disabled='addContestForm.$invalid || (contest.startDate >= contest.endDate) || !contest.startDate || !contest.endDate') Submit
