extends ../shared/layout
block main-content
    .row(ng-controller="ContestController as vm")
        .col-lg-10
            h2#nav-tabs Contest
            .bs-component
                ul.nav.nav-tabs
                    li.active
                        a(href='#submit', data-toggle='tab') Submit
                    li
                        a(href='#problem', data-toggle='tab') Problem Description
                #myTabContent.tab-content
                    #submit.tab-pane.fade.active.in
                        .form-group
                            .col-lg-12
                                textarea#textArea.form-control(rows='20')
                                span.help-block
                    #problem.tab-pane.fade.in.active
                        each problem, i in currentContest.problems
                            div.task-desc(ng-show="vm.isActive" + i)
                                != marked(problem.description)

            .col-lg-12
                 .form-group
                    .pull-right
                        button.btn.btn-lg.btn-primary(type='submit') Submit
                    .pull-right(style="margin-right: 10px")
                        if(isAdmin)
                                a.btn.btn-lg.btn-primary(href=currentContest.name + '/addproblem') Add a problem    
        .col-lg-2.problem-btn
            if currentContest.problems
                each problem, i in currentContest.problems
                    button.btn.btn-primary.btn-lg.btn-block(type='button' ng-click="vm.toggle("+i+");")=problem.name
